a {
    cursor: pointer;
}
* {
    box-sizing: border-box;
}

#logo{
    
    float:left;
    width:15%;
}
#quateimage{
    
    float:none;
   /* width:50%;*/
  
}
#container1{width:100%;
margin-left:28%}
option { font-size:20px; 
}
select {
    height:20px;
    overflow-y:scroll; 
}
@media (max-width: 580px) {
    .container {
      padding-left:0;
      margin:0;
    }
}
/*footer{
    padding-bottom: 30px;
  height: 50px;
margin-bottom: 0px;
font-size: 16px; 
font-weight: 900;
    background-color: black;
}*/
.body{
background-image : url(images/blo.jpg); 
background-repeat: no-repeat; 
/*background-position: center center;*/

}
.divele {
    background-color: lightblue;
}

.benifits
{
    font-size: 20px;
    font-weight: bold;
    align: center;
}

/*.fa {
  padding: 5px;
  font-size: 40px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}*/


/*adminstylestaret*/
    /* required style*/ 
.none{display: none;}

/* optional styles */
table tr th, table tr td{font-size: 1.2rem;}
.row{ margin:20px 20px 20px 20px;width: 100%;}
.glyphicon{font-size: 20px;}
.glyphicon-plus{float: right;}
a.glyphicon{text-decoration: none;cursor: pointer;}
.glyphicon-trash{margin-left: 10px;}
.alert{
    width: 50%;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 10px;
}
/*end of adminstyle*/